{% extends "base2.html" %}

{% load static %}
{% block content%}
<div class="list-products">
			<form action="">
				<div class="add-product">
					<div class="add-product-title">
						Adicionar Item
					</div>
					<div class="add-product-input">
						<input type="text" placeholder="Nome do item">
					</div>
					<div class="add-product-input">
						<input type="text" placeholder="URL da imagem do item">
					</div>
					<div class="add-product-input">
						<textarea name="" rows="1" placeholder="Descrição do item"></textarea>
					</div>

					<div class="add-product-button">
						<a href="admin.html"> Cadastrar </a>
					</div>
				</div>
			</form>
		</div>
{% endblock%}